<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaylaflaten.organicfarm"
    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">


        </activity>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CropHarvester"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".CropViewer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.CropViewer" />
        </activity>

        <activity
            android:name=".CropViewer"
            android:label="@string/app_name"
            android:parentActivityName=".CropsInBed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.CropsInBed" />
        </activity>
        <activity
            android:name=".HarvestViewer"
            android:label="@string/app_name">
            android:parentActivityName=".HarvestHistory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.HarvestHistory" />
        </activity>
        <activity
            android:name=".CropHistoryViewer"
            android:label="@string/app_name"
            android:parentActivityName=".EntriesHistory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.EntriesHistory" />
        </activity>
        <activity
            android:name=".CropEditor"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".CropViewer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.CropViewer" />
        </activity>
        <activity
            android:name=".CropHistoryEditor"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".CropHistoryViewer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.CropHistoryViewer" />
        </activity>

        <activity
            android:name=".CropManager"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".CropsInBed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.CropsInBed" />
        </activity>
        <activity
            android:name=".CropsInBed"
            android:label="@string/title_activity_crops_in_bed"
            android:parentActivityName=".Beds">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.Beds" />
        </activity>
        <activity
            android:name=".HarvestHistory"
            android:label="@string/title_activity_harvest_history"
            android:parentActivityName=".CropViewer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.CropViewer" />
        </activity>
        <activity
            android:name=".CropHistory"
            android:label="@string/title_activity_crop_history"
            android:parentActivityName=".CropViewer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.CropViewer" />
        </activity>
        <activity
            android:name=".EntriesHistory"
            android:label="@string/title_activity_entries_history"
            android:parentActivityName=".CropHistory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.CropHistory" />
        </activity>
        <activity
            android:name=".BedHistory"
            android:label="@string/title_activity_bed_history"
            android:parentActivityName=".CropsInBed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.CropsInBed" />
        </activity>
        <activity
            android:name=".Beds"
            android:label="@string/title_activity_bed_history"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.MainActivity" />
        </activity>
        <activity
            android:name=".HarvestEditor"
            android:label="@string/title_activity_harvest_editor"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".HarvestHistory">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.HarvestHistory" />
        </activity>

    </application>

</manifest>
