<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaylaflaten.organicfarm">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CropHarvester"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.CROPHARVESTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CropViewer"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.CROPVIEWER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CropEditor"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.CROPEDITOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CropManager" />
        <activity android:name=".Beds" />
        <activity
            android:name=".CropsInBed"
            android:label="@string/title_activity_crops_in_bed" />
        <activity
            android:name=".HarvestHistory"
            android:label="@string/title_activity_harvest_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CropHistory"
            android:label="@string/title_activity_crop_history"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.MainActivity" />
        </activity>

        <activity
            android:name=".EntriesHistory"
            android:label="@string/title_activity_entries_history"
            android:parentActivityName=".CropHistory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaylaflaten.organicfarm.MainActivity" />
        </activity>

        <!--<activity-->
            <!--android:name=".EntriesHistory"-->
            <!--android:label="@string/title_activity_entries_history"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
                <!--<activity-->
            <!--android:name=".EntriesHistory"-->
            <!--android:label="@string/title_activity_entries_history">-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <!--</activity>-->
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <!--<meta-data-->
            <!--android:name="com.google.android.gms.version"-->
            <!--android:value="@integer/google_play_services_version" />-->

        <activity
            android:name=".BedHistory"
            android:label="@string/title_activity_bed_history"></activity>

    </application>

</manifest>
